* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fcfaf3;
  color: #1c1b1b;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid  #000000;
}

.app {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.form {
  display: flex;
  gap: 10px;
  align-items: stretch;  
}

input {
  height: 36px;
  padding: 0 10px;
  border: 1px solid #000;
  background: hsl(53, 93%, 95%); 
  color: #2d2c2c;
  font-size: 14px;
}


button {
  padding: 8px 12px;
  border: 1px solid #000;
  background: #d02d2d;
  cursor: pointer;
}

button:hover {
  background: #000;
  color: #fff;
}

hr {
  margin: 25px 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.contact p {
  font-size: 14px;
}
